
<%- include("partials/header") -%>

<div id="heading" class="box" >
    <h1>About me!!</h1>
    <h4>My name is Gude Abhiram.<br> I am from vizag.<br> I am learning EJS.</h4>
</div>

<%- include("partials/footer") -%>